/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#colorbox,#cboxWrapper{overflow:visible;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

#cboxLoadedContent img{ width:100%; }

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#FFF;}
#colorbox{outline:0;}
/*
    #cboxTopLeft{width:21px; height:21px; background:#FFF;}
    #cboxTopRight{width:21px; height:21px; background:#FFF;}
    #cboxBottomLeft{width:21px; height:21px; background:#FFF;}
    #cboxBottomRight{width:21px; height:21px; background:#FFF;}
    #cboxMiddleLeft{width:21px; background:#FFF;}
    #cboxMiddleRight{width:21px; background:#FFF;}
    #cboxTopCenter{height:21px; background:#FFF;}
    #cboxBottomCenter{height:21px; background:#FFF;}
*/
    #cboxTopLeft{display:none;}
    #cboxTopRight{display:none;}
    #cboxBottomLeft{display:none;}
    #cboxBottomRight{display:none;}
    #cboxMiddleLeft{display:none;}
    #cboxMiddleRight{display:none;}
    #cboxTopCenter{display:none;}
    #cboxBottomCenter{display:none;}	
	
	
	
    #cboxContent{background:none; overflow:visible;}
        .cboxIframe{background:none;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:28px;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#000; font-size:12px;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;display:none;}
        #cboxLoadingOverlay{background:url(../../../../images/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(../../../../images/loader.gif) no-repeat center center;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; top:50%; left:-130px; background:url(../images/controls.png) no-repeat 0px 0; width:15px; height:27px; text-indent:-9999px; display:block; margin:-14px 0 0;}
        /*#cboxPrevious:hover{background-position:-75px -25px;}*/
        #cboxNext{position:absolute; top:50%; right:-130px; background:url(../images/controls.png) no-repeat right 0; width:15px; height:27px; text-indent:-9999px; display:block; margin:-14px 0 0;}
        /*#cboxNext:hover{background-position:-50px -25px;}*/
        #cboxClose{position:absolute; top:100px; right:-70px; background:url(../images/controls.png) no-repeat center bottom; width:54px; height:54px; text-indent:-9999px;}
        /*#cboxClose:hover{background-position:-25px -25px;}*/

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}